#table-forecast:not(.ant-table-empty) td:not(:nth-child(3), :nth-child(4)) {
  background-color: #d2ecfa;
}

.td-separator {
  background-color: transparent !important;
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.text_info {
  background-color: blue !important;
  color: white !important;
  font-weight: bold !important;
  padding: 0 3px;
}
.text_rb {
  background-color: red;
  color: white !important;
  font-weight: bold !important;
  padding: 0 3px;
}
.text_db {
  background-color: green;
  color: white;
  font-weight: bold;
  padding: 0 3px;
}
.text_pick {
  background-color: #9d3cff;
  color: white;
  font-weight: bold;
  padding: 0 3px;
}

// style for tooltip title trader text_pick
.ant-tooltip {
  white-space: pre-line;
  max-width: unset !important;
}

.HO {
  background-image: linear-gradient(to right, #ff9, #7af) !important;
}
.HU {
  background-image: linear-gradient(to right, #ff9, #c9f) !important;
}
.AO {
  background-image: linear-gradient(to right, #b9ffb9, #7af) !important;
}
.AU {
  background-image: linear-gradient(to right, #b9ffb9, #c9f) !important;
}

.blink {
  -webkit-animation: blink 0.75s linear infinite;
  -moz-animation: blink 0.75s linear infinite;
  -ms-animation: blink 0.75s linear infinite;
  -o-animation: blink 0.75s linear infinite;
  animation: blink 0.75s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
