[data-kit-theme='default'],
[data-kit-theme='dark'] {
  #table-bet-detail {
    line-height: normal;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
  }
}

.box {
  display: inline-block;
  width: 16px;
  height: 16px;
}
