[data-kit-theme='default'],
[data-kit-theme='dark'] {
  #table-trading,
  #table-bet-detail {
    line-height: normal !important;
    font-size: 11px !important;
    font-family: 'Tahoma', sans-serif !important;
  }

  .btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    color: white;
    border-radius: 4px;
  }

  .btn-primary:hover {
    background-color: #40a9ff;
    border-color: #40a9ff;
  }

  .ant-table-thead {
    th {
      text-align: center !important;
    }
  }

  //================= COLOR ==================
  .separator-column-color {
    background-color: Maroon !important;
  }

  .separator-league-color {
    background-color: #2c4693 !important;
    color: white !important;
  }

  .tr-match-off:not(.ant-table-row-extra) {
    background-color: lighten(#afaeaf, 10%) !important;
  }
  .ant-table-row.tr-match-paused:not(.ant-table-row-extra) {
    background-color: lighten(#ff9, 10%) !important;
  }

  .td-sub-match-off,
  .N0 {
    background-color: #afaeaf !important;
  }
  .td-sub-match-paused,
  .Y1,
  .N1,
  .N2,
  .N3 {
    background-color: #ff9 !important;
  }

  .cell_profile_not_changed {
    background-color: #ff9; // copy from TraderPause
  }

  .cell_profile_changed {
    background-color: #3ac4f5; // copy from oddsPause
  }

  .Trader1 {
    background-color: #f285ff !important;
  }

  .Trader2 {
    background-color: #ffbe9f !important;
  }

  .Trader3 {
    background-color: #90ee90 !important;
  }

  .Trader4 {
    background-color: #90ee90 !important;
  }

  .Trader6 {
    background-color: #f285ff !important;
  }

  .Trader7 {
    background-color: #9ff !important;
  }

  .Trader8 {
    background-color: #ff9 !important;
  }

  .Boss {
    background-color: #f285ff !important;
  }

  .SpvOdds {
    background-color: #ffbe9f !important;
  }

  .SpvPause {
    background-color: #9ff !important;
  }

  .TraderOdds {
    background-color: #90ee90 !important;
  }

  .TraderPause {
    background-color: #ff9 !important;
  }

  .LeechingOdds {
    background-color: #cecece !important;
  }

  .oddsPause {
    background-color: #3ac4f5 !important;
  }

  .betList {
    background-color: #9be6f8 !important;
  }

  .asOddsX {
    background-color: #ff9 !important;
  }

  .pending {
    background: transparent url('/resources/images/bg_blink_multicolor.gif');
  }

  // ================= ICON ==================
  .icon-ball {
    width: 16px;
    height: 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: url('/resources/images/icon_ball.gif') !important;
  }

  .icon-indicator {
    width: 12px;
    height: 12px;
    background: url('/resources/images/strip_indicator.gif') top left no-repeat !important;
    visibility: visible !important;

    &.lock {
      background-position: 0 0 !important;
    }

    &.autoOdds {
      background-position: 0 -12px !important;
    }

    &.pause {
      background-position: 0 -24px !important;
    }
  }

  .icon-rc {
    width: 12px;
    height: 12px;
    background: url('/resources/images/rc.gif') no-repeat;
  }

  // Cell Color for MatchOpenStatusMatchPauseStatus Y1

  .btn_plain {
    padding: 0;
    text-align: left;
    border: none;
    height: auto;
    line-height: inherit;
    font-size: inherit;
    background: none;
  }

  .btn_plain_pause {
    padding: 0;
    margin: 0;
    border: none;
    height: auto;
    background: none;
  }

  .btn_plain:disabled {
    cursor: not-allowed;
  }

  .btn_plain_pause:disabled {
    color: #969696 !important;
  }

  .active_selection {
    animation: backgroundColor 0.5s forwards;
  }

  @keyframes backgroundColor {
    0%,
    25% {
      background: rgb(255, 115, 0);
    }
    50% {
      background: none;
    }
    75% {
      background: rgb(255, 115, 0);
    }
    100% {
      background: none;
    }
  }
}
