[data-kit-theme='default'],
[data-kit-theme='dark'] {
  #dvHeader {
    overflow: hidden;
  }
  #dvDetail {
    overflow: auto;
    max-height: calc(100% - 31px);
  }

  #table-mo {
    table {
      table-layout: fixed;
      border-collapse: collapse;

      th {
        padding: 0 !important;
      }
      th,
      td {
        text-align: center !important;
        vertical-align: middle !important;
      }

      > tbody {
        // > tr.table-primary {
        //   background-color: #b8daff !important;
        // }
        // > tr.ant-table-row-level-0:hover > td {
        //   background: inherit;
        // }

        > tr:not(.ant-table-measure-row):not(.ant-table-placeholder) {
          border: 3px solid pink;
        }

        > tr.first-row:not(.last-row) {
          border-bottom: none;
        }

        > tr:not(.first-row):not(.last-row) {
          border-top: none;
          border-bottom: none;
        }

        > tr.last-row:not(.first-row) {
          border-top: none;
        }
      }
    }
  }

  .mo_select {
    .ant-select-selector {
      input {
        text-align: center;
      }
    }
  }
  .mo_btn {
    background-color: transparent;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 3px;
  }
  .mo_btn_link {
    color: var(--kit-color-primary);
    stroke: var(--kit-color-primary);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    &:hover {
      border-color: var(--kit-color-primary);
    }
  }
  .mo_btn_move_hdp {
    background-color: transparent;
    border: 1px solid transparent;

    &.green2 {
      color: green;
      &:hover {
        border-color: lighten(green, 20%);
        color: lighten(green, 20%);
      }
    }
    &.red2 {
      color: red;
      &:hover {
        border-color: lighten(red, 20%);
        color: lighten(red, 20%);
      }
    }
  }
  .mo_btn_odds {
    background-color: transparent;
    color: black;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 21px;
    font-weight: bold;

    &:hover {
      background-color: rgba(0, 0, 0, 0.06);
      border-color: #69b1ff;
    }
  }

  .mo_btn_pause {
    color: #007bff;
    text-decoration: none;
    border: 1px solid transparent;
    cursor: pointer;
    white-space: nowrap;
    background-color: transparent;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    touch-action: manipulation;
    line-height: 1.6;
    height: 21px;
    &:hover {
      border-color: #69b1ff;
    }
  }
  .mo_input_number {
    padding: 0;
    width: 100%;

    input {
      text-align: end;
      padding: 0 2px;
    }
  }

  // unused components
  // .btn-move-hdp {
  //   background-color: transparent;
  //   border: 1px solid transparent;
  //   cursor: pointer;
  //   transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  //   touch-action: manipulation;
  //   line-height: 1.6666666666666667;
  //   top: 1px;
  //   height: 12px;
  // }
  // .btn-move-hdp.red {
  //   color: rgb(173, 0, 0);
  //   &:hover {
  //     color: rgb(255, 0, 0);
  //     span {
  //       font-size: 14px;
  //     }
  //   }
  // }
  // .btn-move-hdp.green {
  //   color: green;
  //   &:hover {
  //     color: rgb(0, 212, 0);
  //     span {
  //       font-size: 14px;
  //     }
  //   }
  // }

  .ant-table td {
    position: relative;
  }

  .tag_penalty {
    background-color: red;
    color: white;
    padding: 1px;
    border-radius: 2px;
    align-self: flex-start;
  }

  .tag_red_card {
    background-color: rgb(160, 0, 0);
    color: white;
    padding: 1px;
    border-radius: 2px;
    align-self: flex-start;
  }

  .score_box {
    width: 100%;
    height: auto;
    text-align: center;
    border: 1px solid #e4e9f0;
    display: inline-block;
    font-weight: bold;
  }

  .radio_none,
  .radio_right,
  .radio_left {
    display: flex;
    justify-content: space-between;
    > .ant-radio-wrapper {
      margin: 0 4px;
    }
    > .ant-typography {
      margin: auto;
    }
  }
  .radio_right {
    flex-direction: row-reverse;
    > .ant-typography {
      margin-right: 0;
      margin-left: 4px;
    }
  }
  .radio_left {
    > .ant-typography {
      margin-left: 0;
      margin-right: 4px;
    }
  }

  .home_away_text {
    margin: 0 2px;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;

    .tooltip_text {
      visibility: hidden;
      width: 120px;
      background-color: rgba(0, 0, 0, 0.8);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: 105%;
      white-space: normal;
      opacity: 0;
      transition: opacity 0.3s;

      &::after {
        content: '';
        position: absolute;
        bottom: 100%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
      }

      &.left {
        left: 20%;
        &::after {
          left: 20%;
        }
      }

      &.right {
        right: 20%;
        &::after {
          right: 20%;
        }
      }
    }

    &:hover {
      .tooltip_text {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .blink_on {
    background-image: url('/resources/images/letter-p-blink.gif');
    background-size: cover;
    background-position: center center;
    width: 14px;
    height: 21px;
    aspect-ratio: 1;
  }

  .blink_off {
    background-image: url('/resources/images/letter-p.gif') !important;
    background-size: cover;
    background-position: center center;
    width: 14px;
    height: 21px;
    aspect-ratio: 1;
  }

  .background-odds {
    background-color: lightgrey !important;
  }

  .alert_trader_boss {
    background-color: #f285ff;
  }

  .alert_trader_spv {
    background-color: #ffbe9f;
  }

  .alert_trader {
    background-color: #90ee90;
  }

  .alert_trader_leeching {
    background-color: #cecece;
  }

  .ant-input-number-sm input.ant-input-number-input {
    font-weight: 700;
  }
}

[data-kit-theme='dark'] {
  // fix antd-modal in dark theme
  .ant-modal-confirm-title {
    color: white;
  }
}
