#executionLog {
  border: 1px solid #e4e9f0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#logInfo,
#logParam,
#logAudit {
  td,
  th {
    padding: 0 5px;
    max-width: 300px;
  }
}

#logInfo,
#logParam {
  margin: 0 !important;

  td:nth-last-child(1),
  th:nth-last-child(1) {
    text-align: right;
  }
}

#logAudit {
  td {
    white-space: break-spaces;
  }
}
