[data-kit-theme='default'] .ant-btn.ant-btn-default.btn.btn-primary[disabled] {
  color: #fff;
  background-color: var(--kit-color-primary);
  border-color: var(--kit-color-primary);
}

[data-kit-theme='default'] .ant-btn.ant-btn-default.btn.btn-success[disabled] {
  color: #fff;
  background-color: #6ed284;
  border-color: #6ed284;
}

.ant-form-item-label > label {
  color: #54595a !important;
  font-weight: bold;
}

.disabled-table .ant-table-selection-column {
  pointer-events: none;
}
