.custom-on-cell-separator {
  background-color: #800000 !important;
}

.custom-on-cell-checkbox {
  background-color: #eeff91 !important;
}

.popup-on-cell-error {
  background-color: #ff5964 !important;
  color: white;
}

[data-kit-theme='default'],
[data-kit-theme='dark'] {
  #table-match {
    line-height: normal;
    font-size: 11px;
    font-family: 'Tahoma', sans-serif;
  }

  .ant-checkbox + span {
    padding-right: 0;
    padding-left: 0;
  }
}
