.icon_rb {
  background: url('/resources/images/icon_t_red.gif') !important;
  visibility: visible !important;
  width: 11px;
  height: 11px;
}
.icon_db {
  background: url('/resources/images/icon_t.gif') !important;
  visibility: visible !important;
  width: 11px;
  height: 11px;
}
.icon_pick {
  background: url('/resources/images/icon_p.gif') !important;
  visibility: visible !important;
  width: 11px;
  height: 11px;
}
.icon_provider {
  background: url('/resources/images/icon_p_red.gif') !important;
  visibility: visible !important;
  width: 11px;
  height: 11px;
}
