.badge-hover {
  .ant-badge-count {
    // background-color: black;
    opacity: 0;
    transform: translate(-10%, -50%);
    transition: all 0.5s ease;
  }

  &:hover {
    .ant-badge-count {
      opacity: 1;
      transform: translate(0%, 0%);
      color: inherit;
      font-weight: bold;
    }
  }
}

.text-bold {
  font-weight: bold;
}
.vip_27 {
  @extend .text-tosca;
  @extend .text-glow-yellow-new;
  @extend .text-bold;
}
.vip_28 {
  @extend .text-tosca;
  @extend .text-glow-pink-new;
  @extend .text-bold;
}
.vip_23 {
  @extend .text-blue;
  @extend .text-bold;
}
.vip_29 {
  @extend .text-maroon;
  @extend .text-bold;
}
.vip_18 {
  @extend .text-dark-brown;
  @extend .text-glow-orange;
  @extend .text-bold;
}
.vip_15 {
  @extend .text-glow-pink;
  @extend .text-bold;
}
.vip_8 {
  @extend .text-green;
  @extend .text-bold;
}
.vip_11 {
  @extend .text-light-violet;
  @extend .text-bold;
}
.vip_9 {
  @extend .text-violet;
  @extend .text-bold;
}
.vip_17 {
  @extend .text-violet;
  @extend .text-glow-green;
  @extend .text-bold;
}
.vip_14,
.vip_13,
.vip_10,
.vip_4,
.vip_2 {
  @extend .text-black;
  @extend .text-bold;
}
.vip_12 {
  @extend .text-purple;
  @extend .text-bold;
}
.vip_1,
.vip_3 {
  @extend .text-red;
  @extend .text-bold;
}
.vip_16 {
  @extend .text-red;
  @extend .text-glow-green;
  @extend .text-bold;
}
.vip_5 {
  @extend .text-brown;
  @extend .text-bold;
}
.vip_6 {
  @extend .text-orange;
  @extend .text-bold;
}
.vip_7_26 {
  @extend .text-grey;
  @extend .text-glow-yellow;
  @extend .text-bold;
}
.vip_7 {
  @extend .text-grey;
  @extend .text-bold;
}
.vip_21 {
  @extend .text-blue;
  @extend .text-bold;
}
.vip_23_24 {
  @extend .text-blue;
  @extend .text-glow-green;
  @extend .text-bold;
}
.vip_24 {
  @extend .text-glow-green;
  @extend .text-bold;
}
.vip_25 {
  @extend .text-dark-purple;
  @extend .text-glow-pink;
  @extend .text-bold;
}
.vip_26 {
  @extend .text-glow-yellow;
  @extend .text-bold;
}
